<!-- HEADER INCLUDED -->
<div ng-include="'views/partials/header.html'"></div>

<!-- MENU INCLUDED -->
<div ng-include="'views/partials/menu.html'"></div>

<!-- HOURS VIEW -->
<div layout="row">
  <div layout-md="column" flex="5"></div>
  <div layout="column" flex="90">
    <div class="eventViewContainer">
      <h1>Office Hours Logged:</h1>
       <md-list layout="column">
         <md-list-item class="md-3-line"
          ng-repeat="thisHours in serverResponseObject.allHours">
           <div class="md-list-item-text extraPadding" layout="row">
             <div class="eventListDiv" layout="row">
               <div layout="column" flex="20">
                 <h3>Date: </h3>
                 <h3><b>{{thisHours.date}}</b></h3>
               </div>
               <div layout="column" flex="20">
                 <h3>From: </h3>
                 <h3><b>{{thisHours.time_in}}</b></h3>
               </div>
               <div layout="column" flex="20">
                 <h3>To: </h3>
                 <h3><b>{{thisHours.time_out}}</b></h3>
               </div>
               <div layout="row" flex="40" layout-align="end center">
                 <md-button class="themed-Btn blueButton" aria-label="Delete"
                  ng-click="showConfirm($event,thisHours)">Delete</md-button>
               </div>
             </div>
           </div>
         </md-list-item>
       </md-list>
    </div>
  </div>
</div>

<!-- FOOTER INCLUDED -->
<div ng-include="'views/partials/footer.html'"></div>
