<div layout="column" flex="100">
  <div layout="row">
    <div flex="15"></div>
    <div flex="70">
      <h1>Simon Says Give</h1>
      <h2>Adult Volunteer Release and Waiver of Liability</h2>
      <button ng-click="setCheckIn()">CheckIn</button>
    </div>
    <div flex="15"></div>
  </div>
  <div layout="row">
    <div flex="15"></div>
    <div layout="column" flex="70">
      <p>
        This Release and Waiver of Liability (the “release”) executed on
        <md-input-container class="noMargins">
          <md-datepicker ng-model="waiverObj.dateTopAdult"
            name="adultWaiverDateTop" md-min-date="ctrl.minDate"
            md-max-date="ctrl.maxDate"></md-datepicker>
        </md-input-container>
        (date) by
        <md-input-container md-no-float class="noMargins yellowBack">
          <input required type="text" name="adultWaiverNameTop" value=""
            ng-model="waiverObj.nameTopAdult" placeholder="name *">
        </md-input-container>
        (“Volunteer”) releases Simon Says Give (hereafter referred to as the
        “Nonprofit”), a nonprofit corporation organized and existing under the
        laws of the State of Minnesota and each of its directors, officers,
        employees and agents. The Volunteer desires to provide volunteer services
        for Nonprofit and engage in activities related to serving as a volunteer.
      </p>
    </div>
    <div flex="15"></div>
  </div>
  <div layout="row">
    <div flex="15"></div>
    <div layout="column" flex="70">
      <br>
      <p>
        Volunteer understands that the scope of Volunteer’s relationship
        with Nonprofit is limited to a volunteer position and that no
        compensation is expected in return for services provided by
        Volunteer; that Nonprofit will not provide any benefits
        traditionally associated with employment to Volunteer; and that
        Volunteer is responsible for his/her own insurance coverage in the
        event of personal injury or illness as a result of Volunteer’s
        services to Nonprofit.
      </p>
      <ol>
        <li><strong>Waiver and Release:</strong> I, the Volunteer, release and forever discharge
          and hold harmless Nonprofit and its successors and assigns from any
          and all liability, claims, and demands of whatever kind of nature,
          either in law or in equity, which arise or may hereafter arise from
          the services I provide to Nonprofit. I understand and acknowledge
          that this Release discharges Nonprofit from any liability or claim
          that I or any family member or other third-party may have against
          Nonprofit with respect to bodily injury, personal injury, illness,
          death, or property damage that may result from the services I provide
          to Nonprofit or occurring while I am providing volunteer services.</li>
        <br>
        <li><strong>Insurance:</strong> Further I understand that Nonprofit does not assume any
          responsibility for or obligation to provide me with financial or other
          assistance, including but not limited to medical, health, or
          disability benefits or insurance. I expressly waive any such claim for
          compensation or liability on the part of Nonprofit beyond what may be
          offered freely by Nonprofit in the event of injury or medical
          expenses incurred by me.</li>
        <br>
        <li><strong>Medical Treatment:</strong> I hereby Release and forever discharge
          Nonprofit from any claim whatsoever which arises or may hereafter
          arise on account of any first-aid treatment or other medical services
          rendered in connection with an emergency during my tenure as a
          volunteer with Nonprofit.</li>
        <br>
        <li><strong>Assumption of Risk:</strong> I understand that the services I provide to
          Nonprofit may include activities that may be inherently dangerous,
          including but not limited to voluntarily driving or being
          transported in an automobile or other vehicle in connection with
          Nonprofit activities. As a volunteer, I hereby expressly assume
          risk of injury or harm from these activities and Release Nonprofit
          from all liability.</li>
        <br>
        <li><strong>Other:</strong> As a volunteer, I expressly agree that this Release is
          intended to be as broad and inclusive as permitted by the laws of
          the State of Minnesota and that this Release shall be governed by
          and interpreted in accordance with the laws of the State of
          Minnesota. I agree that in the event that any clause or provision of
          this Release is deemed invalid, the enforceability of the
          remaining provisions of this Release shall not be affected.</li>
      </ol>
      <p>
        By checking this box I hereby acknowledge that:
      </p>
      <div layout="row">
        <div flex="5"></div>
        <div flex="90">
          <div layout="column">
            <span>(a) I am of legal age;</span>
            <span>(b) It is my understanding and intent to enter into this
              Release and Waiver of Liability willingly and voluntarily; and</span>
            <span>(c) I have read this form and understand that by signing
              this form, I am giving up legal rights and remedies.</span>
            <br>
          </div>
        </div>
        <div flex="5"></div>
      </div>
    </div>
    <div flex="15"></div>
  </div>
  <div layout="row">
    <div flex="15"></div>
    <div layout="column" flex="70">
      <div layout="row">
        <input required type="checkbox" ng-check="waiverObj.agreedAdult = true"
          ng-model="waiverObj.agreedAdult">
        <span>I acknowledge the above</span>
      </div>
      <div layout="row" class="bufferDiv">
      </div>
      <div layout="row">
        <div flex="15">
          <span>Signature:</span>
        </div>
        <md-input-container class="noMargins yellowBack" flex="85">
          <label>Please enter your name between slash marks: /John Doe/</label>
          <input required type="text" name="adultWaiverNameBottom" value=""
            ng-model="waiverObj.nameBottomAdult">
        </md-input-container>
      </div>
      <div layout="row" class="bufferDiv">
      </div>
      <div layout="row">
        <div flex="15">
          <span>Today's Date:</span>
        </div>
        <md-input-container class="noMargins" flex="85">
          <md-datepicker ng-model="waiverObj.dateBottomAdult"
            name="adultWaiverDateBottom" md-min-date="ctrl.minDate"
            md-max-date="ctrl.maxDate"></md-datepicker>
        </md-input-container>
      </div>
      <div layout="row" class="bufferDiv">
      </div>
      <div layout="row" flex="33">
        <button type="button" name="button" class="themed-Btn goodButton"
          ng-click="submitAdultWaiver(waiverObj); captureTime()">Submit</button>
        <div class="bufferDiv">
        </div>
        <button type="button" name="button" class="themed-Btn badButton"
          ng-click="declineWaiver(); captureTime()">Decline</button>
      </div>
    </div>
    <div flex="15"></div>
  </div>
</div>
