<!-- INCLUDE HEADER -->
<div ng-include="'views/partials/headerCheckIn.html'"></div>

<div layout="row">
  <div layout-md="column" flex="5"></div>
  <div layout="column" flex="90">
    <div class="volunteerPage">
      <md-input-container layout="row" layout-align="center center">
          <md-button class="checkInBtn" class="md-raised" type="submit" name="checkIn" aria-label="Check In" value="Check In" ng-click="checkIn()">Check In</md-button>
          <md-button class="checkOutBtn" class="md-raised" type="submit" name="checkOut" aria-label="Check Out" value="Check Out"ng-click="checkOut()">Check Out</md-button>
      </md-input-container>
    </div>
  </div>
</div>


<div ng-include="'views/partials/footer.html'"></div>
