<!-- finish button - needs validation that a volunteer has been selected -->
<div ng-include="'views/partials/header.html'"></div>

<div layout="row">
  <div layout-md="column" flex="5"></div>
  <div layout="column" flex="90">
    <h1>CHECKOUT</h1>
  </div>
</div>
<div layout="row">
  <div layout-md="column" flex="35" ></div>
  <md-input-container layout="column" flex="30" >
    <div>
      <label for="email">Email:</label>
      <input type="text" ng-model="volunteerObject.email"/>
    </div>
  </md-input-container>
</div>
<div layout="row">
  <div layout-md="column" flex="25" ></div>
  <md-input-container layout="column" flex="25" >
    <div>
      <label for="first_name" >First Name:</label>
      <input type="text" ng-model="volunteerObject.first_name"/>
    </div>
  </md-input-container>
  <md-input-container layout="column" flex="25" >
    <div>
      <label for="last_name">Last Name:</label>
      <input type="text" ng-model="volunteerObject.last_name"/>
    </div>
  </md-input-container>
</div>
<div layout="row">
  <div layout-md="column" flex="10" ></div>
  <md-input-container layout="column" layout-align="center center" flex="80">
    <div>
      <md-button class="biggerButton themed-Btn blueButton" type="submit" name="submit" aria-label="Checkout"
      value="Search" ng-click="search(volunteerObject)">Search</md-button>
    </div>
  </md-input-container>
</div>
<!-- div with ng-show for list of search results: -->
<div layout="row" ng-show="success">
  <div layout-md="column" flex="10" ></div>
  <div layout-md="column" flex="80">
    <h3>Select Who You Want to Check Out!</h3>
    <div flex-xs="" flex="50">
      <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
        <span ng-if="isChecked()">Un-</span>Select All
      </md-checkbox>
    </div>
    <div class="demo-select-all-checkboxes" flex="100" ng-repeat="volunteer in volunteerList">
      <md-checkbox ng-checked="exists(volunteer.id, selected)" ng-click="toggle(volunteer.id, selected)">
        {{volunteer.first_name}} {{volunteer.last_name}}   ({{volunteer.email}})
      </md-checkbox>
    </div>

      <!-- <md-checkbox ng-model="checkoutList.volunteer" aria-label="{{volunteer}}">
            {{volunteer.first_name}} {{volunteer.last_name}}   ({{volunteer.email}})
      </md-checkbox> -->

      <!-- <md-checkbox ng-model="checkoutList.volunteer" aria-label="{{volunteer}}"
        ng-checked="" ng-click="">
      </md-checkbox>
      <p> {{volunteer.first_name}} {{volunteer.last_name}}   ({{volunteer.email}}) <p>
    </div> -->

    <!-- <div ng-repeat="volunteer in volunteerList">
      <div ng-options="volunteer for volunteer in volunteerList track by volunteer.id">

      <md-checkbox ng-model="checkoutList.volunteer" aria-label="{{volunteer}}">
            {{volunteer.first_name}} {{volunteer.last_name}}   ({{volunteer.email}})
      </md-checkbox>

      <md-checkbox ng-model="checkoutList.volunteer" aria-label="{{volunteer}}">
      </md-checkbox>
      <p> {{volunteer.first_name}} {{volunteer.last_name}}   ({{volunteer.email}}) <p>
    </div> -->


</div>
<div layout="row" ng-show="success">
  <div layout-md="column" flex="10" ></div>
  <md-input-container layout="column" layout-align="center center" flex="80">
    <div>
      <md-button class="biggerButton themed-Btn blueButton" type="submit" name="submit" aria-label="Checkout"
      value="Checkout" ng-click="checkout(checkoutList)">Checkout</md-button>
    </div>
  </md-input-container>
</div>

<div ng-include="'views/partials/footer.html'"></div>
