<!-- HEADER INCLUDED -->
<div ng-include="'views/partials/header.html'"></div>

<div class="mainImageDiv">
  <img class="mainLogo" src="views/assets/SSG_Logo_Drawn_Primary_tagline.png" alt="Simon Says Give">
</div>
<div layout="row">
  <div layout-md="column" flex="10" ></div>
  <div layout="column" flex="80" id="confirmation">
    <h1>THANK YOU FOR VOLUNTEERING!</h1>
    <div layout="row">
      <div layout-md="column" flex="10" ></div>
      <md-input-container layout="column" layout-align="center center" flex="80">
        <div>
          <md-button class="themed-Btn" type="submit" name="submit" aria-label="Done"
                     value="Done" ng-click="changeView()">Done</md-button>
        </div>
      </md-input-container>
    </div>
  </div>
  <div layout-md="column" flex="10"></div>
</div>

<!-- FOOTER INCLUDED -->
<div ng-include="'views/partials/footer.html'"></div>
