<!-- HEADER INCLUDED -->
<div ng-include="'views/partials/header.html'"></div>

<!-- EVENTS VIEW -->
<div layout="row">
  <div layout-md="column" flex="5"></div>
  <div layout="column" flex="90">
    <div class="eventViewContainer">
      <h1>SIMON SAYS GIVE EVENTS:</h1>


       <md-list layout="column">
         <md-list-item class="md-3-line" ng-repeat="ssgEvent in serverResponseObject.allEvents">
             <div class="md-list-item-text" layout="row">
               <div layout="column" flex="60">
                 <h3>{{ssgEvent.event_name}}</h3>
                 <h4>{{ssgEvent.event_code}}</h4>
                 <p>{{ssgEvent.event_date}}</p>
               </div>

               <md-button class="themed-Btn blueButton" aria-label="Delete" ng-click="showConfirm($event,recipe)">Delete</md-button>
               <md-button class="themed-Btn blueButton" aria-label="View" ng-click="viewRecipe(recipe)">View</md-button>
             </div>
         </md-list-item>
       </md-list>


    </div>
  </div>
</div>

<!-- FOOTER INCLUDED -->
<div ng-include="'views/partials/footer.html'"></div>
