<!-- HEADER INCLUDED -->
<div ng-include="'views/partials/header.html'"></div>


<!-- FORGOT PASSWORD VIEW -->
<div layout="row">
  <div layout-md="column" flex="5"></div>
  <div layout="column" flex="90">
    <div class="addAdminContainer">
      <h1>RESET PASSWORD</h1>
        <form name="resetPasswordView" ng-submit="sendResetPassword()">
          <div layout="row">
          <md-input-container layout="column" flex="45">
            <div>
              <label for="user.username">Username:</label>
              <input type="text" ng-model="user.username" required/>
              <div ng-messages="resetPasswordView.user.username.$error">
                <div ng-message="required">A username is required!</div>
              </div>
            </div>
          </md-input-container>
          <div layout="column" flex="10"></div>
        </div>
        <!-- BUTTONS -->
        <md-input-container layout="row" layout-align="start center">
          <div>
            <br>
            <md-button class="themed-Btn" type="submit" name="submit" aria-label="Reset Password" value="Submit">Submit</md-button>
          </div>
        </md-input-container>
      </form>
    </div>
  </div>
</div>


<!-- FOOTER INCLUDED -->
<div ng-include="'views/partials/footer.html'"></div>
