<!-- INCLUDE HEADER -->
<div ng-include="'views/partials/headerCheckIn.html'"></div>

<div layout="row">
  <div layout-md="column" flex="10" ></div>
  <div layout="column" flex="80" id="confirmation">
    <h1>PLEASE SPEAK TO A STAFF MEMBER</h1>
    <div layout="row" layout-align="center center">
      <div flex="20"></div>
      <div flex="60" class="adminCode">
        <md-input-container layout="column" layout-align="center center" class="overrideContainer">
            <label for="username">Administrator Code:</label>
            <div layout-align="center center" class="errorContainer">
              <h3 class="inputError">{{message}}</h3>
            </div>
            <input type="password" ng-model="adminCode.thisCode" required/>
        </md-input-container>
      </div>
      <div flex="20"></div>
    </div>
    <div layout="row" layout-align="center center">
      <md-input-container layout="row" layout-align="center center" >
          <md-button class="biggerButton themed-Btn badButton" type="submit" name="submit" aria-label="Done"
                     value="Back To Waiver" ng-click="waiverView()">Back To Waiver</md-button>
          <md-button class="biggerButton themed-Btn goodButton" type="submit" name="submit" aria-label="Finish"
                     value="Finish" ng-click="finish(adminCode)">Finish</md-button>
      </md-input-container>
  </div>
  <div layout-md="column" flex="10"></div>
</div>
