<!-- HEADER INCLUDED -->
<div ng-include="'views/partials/header.html'"></div>

<div layout="row">
  <div layout-md="column" flex="10" ></div>
  <div layout="column" flex="80" id="confirmation">
    <h1>PLEASE SPEAK TO A STAFF MEMBER</h1>

    <div layout="row">
      <div layout-md="column" flex="35" ></div>
      <md-input-container layout="column" flex="30">
        <div>
          <div class="errorContainer">
          <h3 class="eventCodeError">{{message}}</h3>
          </div>
          <label for="code">Administrator Code:</label>
          <input class="eventCode" ng-model="adminCode.thisCode" type="text" required/>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <div layout-md="column" flex="10" ></div>
      <md-input-container layout="column" layout-align="center center" flex="40">
        <div>
          <md-button class="themed-Btn" type="submit" name="submit" aria-label="Done"
                     value="Back To Waiver" ng-click="waiverView()">Back To Waiver</md-button>
        </div>
      </md-input-container>
      <md-input-container layout="column" layout-align="center center" flex="40">
        <div>
          <md-button class="themed-Btn" type="submit" name="submit" aria-label="Finish"
                     value="Finish" ng-click="finish(adminCode)">Finish</md-button>
        </div>
      </md-input-container>
    </div>
  </div>
  <div layout-md="column" flex="10"></div>
</div>

<!-- FOOTER INCLUDED -->
<div ng-include="'views/partials/footer.html'"></div>
