<div ng-include="'views/partials/header.html'"></div>

<div layout="row">
  <div layout-md="column" flex="20"></div>
  <div layout="column" flex="60">
    <md-input-container layout="column">
      <div>
        <h1>Please Enter Your Event Code</h1>
        <div class="errorContainer">
          <h3 class="eventCodeError">{{message}}</h3>
        </div>
        <input class="eventCode" name="eventCode" type="password" ng-model="code.thisCode" required/>
        <md-button class="biggerButton themed-Btn goodButton" type="submit" name="login" aria-label="Log In" value="Log In" ng-click="eventCode(code)">Login</md-button>
      </div>
    </md-input-container>
  </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>
