<div layout="column" flex="100">
  <div layout="row">
    <div flex="15"></div>
    <div flex="70">
      <h1>Simon Says Give</h1>
      <h2>Guardian and Minor Volunteer Release and Waiver of Liability</h2>
      <div layout="row" class="bufferDiv">
      </div>
      <div layout="column" ng-hide="hideQuestion">
        <span>Is your parent or guardian here?</span>
        <div layout="row">
          <button type="button" name="button" class="themed-Btn goodButton"
            ng-click="youthWaiver.noParent = false; hideQuestion = true">Yes</button>
          <button type="button" name="button" class="themed-Btn badButton"
            ng-click="youthWaiver.noParent = true; hideQuestion = true">No</button>
        </div>
      </div>
      <div layout="row" class="bufferDiv">
      </div>
    </div>
    <div flex="15"></div>
  </div>

  <div layout="row" ng-hide="youthWaiver.noParent">
    <div flex="15"></div>
    <div layout="column" flex="70">
      <p>
        This Release and Waiver of Liability (the “release”) executed on
        <md-input-container class="noMargins">
          <label>Enter date *</label>
          <md-datepicker ng-model="youthWaiver.dateTop"
            name="youthWaiverDateTop" md-min-date="ctrl.minDate"
            md-max-date="ctrl.maxDate"></md-datepicker>
        </md-input-container>
        (date) by
        <md-input-container md-no-float class="noMargins">
          <input ng-required="!youthWaiver.noParent"
            type="text" name="youthWaiverNameTop" value=""
            ng-model="youthWaiver.nameTop" placeholder="name">
        </md-input-container>
        (“Volunteer”), and
        <md-input-container md-no-float class="noMargins">
          <input ng-required="!youthWaiver.noParent"
            type="text" name="youthWaiverGuardianTop" value=""
            ng-model="youthWaiver.guardianTop" placeholder="name">
        </md-input-container>
        ("Guardian") releases Simon Says Give (hereafter referred to as the
        “Nonprofit”), a nonprofit corporation organized and existing under the
        laws of the State of Minnesota and each of its directors, officers,
        employees and agents. The Volunteer desires to provide volunteer
        services for Nonprofit and engage in activities related to serving as
        a volunteer and Guardian wishes to execute this Release to enable
        Volunteer to provide such services.
      </p>
    </div>
    <div flex="15"></div>
  </div>

  <div layout="row" ng-hide="youthWaiver.noParent">
    <div flex="15"></div>
    <div layout="column" flex="70">
      <br>
      <p>
        Volunteer and Guardian understand that the scope of Volunteer’s
        relationship with Nonprofit is limited to a volunteer position and
        that no compensation is expected in return for services provided by
        Volunteer; that Nonprofit will not provide any benefits traditionally
        associated with employment to Volunteer; and that Volunteer and/or
        Guardian is responsible for his/her own insurance coverage in the
        event of personal injury or illness as a result of Volunteer’s
        services to Nonprofit.
      </p>
      <ol>
        <li><strong>Waiver and Release:</strong> Volunteer and Guardian each
          release and forever discharge and hold harmless Nonprofit and its
          successors and assigns from any and all liability, claims, and
          demands of whatever kind of nature, either in law or in equity,
          which arise or may hereafter arise from the services I or the
          Volunteer provide to Nonprofit. Volunteer and Guardian understand
          and acknowledge that this Release discharges Nonprofit from any
          liability or claim that I or any parent, family member, or other
          third-party may have against Nonprofit with respect to bodily
          injury, personal injury, illness, death, or property damage that
          may result from the services Volunteer provides to Nonprofit or
          occurring while Volunteer is providing volunteer services.</li>
        <br>
        <li><strong>Insurance:</strong> Further, Volunteer and Guardian each
          understand that Nonprofit does not assume any responsibility for or
          obligation to provide Volunteer or Guardian with financial or other
          assistance, including but not limited to medical, health, or
          disability benefits or insurance. Volunteer and Guardian expressly
          waive any such claim for compensation or liability on the part of
          Nonprofit beyond what may be offered freely by Nonprofit in the
          event of injury or medical expenses incurred by Volunteer or
          Guardian.</li>
        <br>
        <li><strong>Medical Treatment:</strong> Volunteer and Guardian hereby
          Release and forever discharge Nonprofit from any claim whatsoever
          which arises or may hereafter arise on account of any first-aid
          treatment or other medical services rendered in connection with an
          emergency during Volunteer’s tenure as a volunteer with Nonprofit.</li>
        <br>
        <li><strong>Assumption of Risk:</strong>Volunteer and Guardian
          understand that the services Volunteer provides to Nonprofit may
          include activities that may be inherently dangerous, including but
          not limited to voluntarily driving or being transported in an
          automobile or other vehicle in connection with Nonprofit
          activities. Volunteer and Guardian hereby expressly assume risk of
          injury or harm from these activities and Release Nonprofit from
          all liability.</li>
        <br>
        <li><strong>Other:</strong> Volunteer and Guardian expressly agree
          that this Release is intended to be as broad and inclusive as
          permitted by the laws of the State of Minnesota and that this
          Release shall be governed by and interpreted in accordance with the
          laws of the State of Minnesota. Volunteer and Guardian agree that
          in the event that any clause or provision of this Release is deemed
          invalid, the enforceability of the remaining provisions of this
          Release shall not be affected.</li>
      </ol>
      <p>
        By checking this box I hereby acknowledge that:
      </p>
      <div layout="row">
        <div flex="5"></div>
        <div flex="90">
          <div layout="column">
            <span>(a) It is my understanding and intent to enter into this
              Release and Waiver of Liability willingly and voluntarily;</span>
            <span>(b) I have read this form and understand that by signing
              this form, I am giving up legal rights and remedies; and</span>
            <span>(c) For Guardian, I acknowledge that I am of legal age and
              am the parent or legal guardian of the Volunteer.</span>
            <br>
          </div>
        </div>
        <div flex="5"></div>
      </div>
    </div>
    <div flex="15"></div>
  </div>
  <div layout="row">
    <div flex="15"></div>
    <div layout="column" flex="70">

      <div layout="row" class="bufferDiv">
      </div>
      <div layout="row" flex="33"
        ng-hide="youthWaiver.noParent || youthWaiver.agreed">
        <button type="button" name="button" class="themed-Btn goodButton"
          ng-click="youthWaiver.agreed = true">Accept</button>
        <div class="bufferDiv">
        </div>
        <button type="button" name="button" class="themed-Btn badButton"
          ng-click="declineWaiver()">Decline</button>
      </div>

      <div ng-show="youthWaiver.agreed || youthWaiver.noParent">

        <div layout="row" class="bufferDiv">
        </div>
        <div layout="row">
          <div flex="15">
            <span>Signature of Volunteer:</span>
          </div>
          <md-input-container class="noMargins" flex="85">
            <label>Please enter your name between slash marks: /John Doe/</label>
            <input required type="text" name="youthWaiverNameBottom" value=""
              ng-model="youthWaiver.nameBottom">
          </md-input-container>
        </div>
        <div layout="row" class="bufferDiv">
        </div>
        <div layout="row">
          <div flex="15">
            <span>Today's Date:</span>
          </div>
          <md-input-container class="noMargins" flex="85">
            <label>Enter date *</label>
            <md-datepicker ng-model="youthWaiver.dateBottomVol"
              name="youthWaiverDateBottomVol" md-min-date="ctrl.minDate"
              md-max-date="ctrl.maxDate"></md-datepicker>
          </md-input-container>
        </div>
        <div layout="row" class="bufferDiv">
        </div>

        <div layout="row" ng-hide="youthWaiver.noParent">
          <div flex="15">
            <span>Signature of Guardian:</span>
          </div>
          <md-input-container class="noMargins" flex="85">
            <label>Please enter your name between slash marks: /John Doe/</label>
            <input ng-required="!youthWaiver.noParent"
              type="text" name="youthWaiverGuardianBottom" value=""
              ng-model="youthWaiver.guardianBottom">
          </md-input-container>
        </div>
        <div layout="row" class="bufferDiv">
        </div>

        <div layout="row" ng-hide="youthWaiver.noParent">
          <div flex="15">
            <span>Today's Date:</span>
          </div>
          <md-input-container class="noMargins" flex="85">
            <label>Enter date *</label>
            <md-datepicker ng-model="youthWaiver.dateBottomGuard"
              name="youthWaiverDateBottomGuard" md-min-date="ctrl.minDate"
              md-max-date="ctrl.maxDate"></md-datepicker>
          </md-input-container>
        </div>

        <div layout="row" ng-show="youthWaiver.noParent">
          <div flex="15">
            <span>Guardian Email Address:</span>
          </div>
          <md-input-container class="noMargins" flex="85">
            <label>Please type the email for your parent or guardian:</label>
            <input ng-required="youthWaiver.noParent"
              type="text" name="youthWaiverGuardianEmail" value=""
              ng-model="youthWaiver.guardianEmail">
          </md-input-container>
        </div>

        <div layout="row" class="bufferDiv">
        </div>
        <div layout="row" flex="33">
          <button type="button" name="button" class="themed-Btn goodButton"
            ng-click="submitYouthWaiver(youthWaiver)">Accept</button>
          <div class="bufferDiv">
          </div>
          <button type="button" name="button" class="themed-Btn badButton"
            ng-click="declineWaiver()">Decline</button>
        </div>

      </div>

    </div>
    <div flex="15"></div>
  </div>
</div>
