.ssg_header {
  background-color: rgb(53,115,185);
  color: whitesmoke;
}

body {
  background-color: #f3eab2;
}

.background {
  background-color: #f3eab2;
}

.md-button {
  display: inline-block;
    margin: 8px;
    padding: 0 45px 0 20px;
    height: 40px;
    overflow: visible;
    position: relative;
    font: 22px/34px 'League Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.015em;
    color: #FFF;
    background: rgb(53,115,185) url(../images/button-sprite.png) 100% -10px repeat-x;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: #fcfdfd 3px solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    max-width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
