@font-face {
    font-family: 'Open Sans'; /*a name to be used later*/
    src: url('../views/assets/fonts/OpenSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'BluBerry Grunge'; /*a name to be used later*/
    src: url('../views/assets/fonts/Bluberry Grunge.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'League Gothic Regular';
  src: url('../views/assets/fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('../views/assets/fonts/leaguegothic-regular-webfont.woff') format('woff');
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  /*background-color: #f3eab2;*/
}

h1 {
  font-family: 'BluBerry Grunge';
  text-transform: uppercase;
}

.ssg_header {
  position: fixed;
  background-color: #f8d208;
  color: whitesmoke;
}

.btnPadding {
  padding: 15px;
}

.themed-Btn {
  padding-top: 0;
  padding-right: 50px;
  padding-bottom: 0;
  padding-left: 25px;
  display: inline-block;
	margin: 0;
	height: 58px;
	overflow: visible;
	position: relative;
	font-size: 24px;
  line-height: 50px;
  font-family: "League Gothic Regular", "Arial Narrow", Arial, sans-serif;
	letter-spacing: 0.015em;
	color: #FFF;
	background-color: #3691df;
  background-image: url("http://www.simonsaysgive.org/wp-content/themes/simonsaysgive.theme/images/button-sprite.png");
  background-position-x: 100%;
  background-position-y: 0;
  background-repeat: repeat-x;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	border: #fcfdfd 3px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	max-width: 100%;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-font-smoothing: antialiased;
}

.themed-Btn:hover,
.themed-Btn:focus,
.themed-Btn:active {
  background-color: #2f7dc0;
  background-position-x: 100%;
  background-position-y: -64px;
}

/*.standardBtn {
  display: inline-block;
    margin: 8px;
    padding: 0 45px 0 20px;
    height: 40px;
    overflow: visible;
    position: relative;
    font: 22px/34px 'League Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.015em;
    color: #FFF;
    background: rgb(53,115,185);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: #fcfdfd 3px solid;

    border-radius: 8px;
    outline: none;
    cursor: pointer;
    max-width: 100%;

    position: fixed;
    background-color: #f8d208;
    color: whitesmoke;
}*/



/*
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
background: rgb(53,115,185) url(../images/button-sprite.png) 100% -10px repeat-x;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
-webkit-font-smoothing: antialiased;*/

.mainImageDiv {
  height: 220px;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.mainLogo {
  padding-top: 30px;
  max-height: 60%;
  max-width: 60%;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.navbarLogo {
  max-height: 18%;
  max-width: 18%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  overflow:hidden;
  display:flex;
  align-items:flex-end;
  background-color: #3573b9;
}

.kidsInFooter {
  display:flex;
  align-items:flex-end;
  background-color: #3573b9;
}

.kidsImg {
  max-width: 100%;
  height: auto;
}

/*Import .CSV file styles*/
#progress_bar {
   margin: 10px 0;
   padding: 3px;
   border: 1px solid #000;
   font-size: 14px;
   clear: both;
   opacity: 0;
   -moz-transition: opacity 1s linear;
   -o-transition: opacity 1s linear;
   -webkit-transition: opacity 1s linear;
 }

 #progress_bar.loading {
   opacity: 1.0;
 }

 #progress_bar .percent {
   background-color: #99ccff;
   height: auto;
   width: 0;
 }

 .importFileContainer {
   padding-top: 30px;
 }
 /*Import .CSV file styles*/

/*center buttons in checkInOut View*/
.checkInOutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*check in button styling*/
.checkInBtn {
  height: 250px;
  width: 400px;
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  background-color: rgb(65,182,73);
}

/*check out button styling*/
.checkOutBtn {
  height: 250px;
  width: 400px;
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  background-color: rgb(237,39,44);
}
#confirmation {
  padding-top: 20px;
  text-align: center;
}

.noMargins {
  margin: 0;
}

.bufferDiv {
  min-height: 40px;
}

.md-errors-spacer:empty {
    display: none;
}
