@font-face {
    font-family: 'Open Sans'; /*a name to be used later*/
    src: url('../views/assets/fonts/OpenSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'BluBerry Grunge'; /*a name to be used later*/
    src: url('../views/assets/fonts/Bluberry Grunge.ttf'); /*URL to font*/
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1 {
  font-family: 'BluBerry Grunge';
  text-transform: uppercase;
}

.ssg_header {
  position: fixed;
  background-color: #f8d208;
  color: whitesmoke;
}

.mainImageDiv {
  height: 220px;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.mainLogo {
  padding-top: 30px;
  max-height: 60%;
  max-width: 60%;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.navbarLogo {
  max-height: 18%;
  max-width: 18%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  overflow:hidden;
  display:flex;
  align-items:flex-end;
  background-color: #3573b9;
}

.kidsInFooter {
  display:flex;
  align-items:flex-end;
  background-color: #3573b9;
}

.kidsImg {
  max-height: 48%;
  max-width: 48%;
}

/*center buttons in checkInOut View*/
.checkInOutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*check in button styling*/
.checkInBtn {
  height: 250px;
  width: 400px;
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  background-color: rgb(65,182,73);
}

/*check out button styling*/
.checkOutBtn {
  height: 250px;
  width: 400px;
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  background-color: rgb(237,39,44);
}
