<div ng-include="'views/partials/header.html'"></div>

    <section  layout="row" layout-sm="column" layout-align="center center" layout-wrap>

      <md-button class="standardBtn" ng-click="redirect('/import')">Import Data</md-button><br>
      <md-button class="standardBtn" ng-click="redirect('/test')">Export Data</md-button><br>
      <md-button class="standardBtn" ng-click="redirect('/test')">Start Event</md-button>
      <!-- <md-button ng-click="redirect('/test')">Log Out All Volunteers</md-button> -->
    </section>
<div ng-include="'views/partials/footer.html'"></div>
