<!-- HEADER INCLUDED -->
<div ng-include="'views/partials/header.html'"></div>

<div layout="row">
  <div layout-md="column" flex="5"></div>
  <div layout="column" flex="90">
    <h1>Thank You For Volunteering!</h1>
  </div>
</div>

<div layout="row">
  <md-input-container layout="column" layout-align="center center">
    <div>
      <md-button class="md-raised" type="submit" name="submit" aria-label="Done" value="Done">Done</md-button>
    </div>
  </md-input-container>
</div>

<!-- FOOTER INCLUDED -->
<div ng-include="'views/partials/footer.html'"></div>
